* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Roboto';
}

.main-navbar {
    padding: 0px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-image {
    width: 100px;
    height: 50px;
}

.navbar-container {
    margin: 18px;
    margin-right: 144px;
}

.nav-menu {
    display: flex;
    list-style-type: none;

}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin: 17px;
    margin-right: 42px;
}

.heading {
    font-size: 5.625rem;
    font-weight: 900;
    margin-left: 18%;
    margin-bottom: 59px;
    margin-top: 52px;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 43, 51);
    padding: 90px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 600px;
    height: 220px;
    display: flex;
    border-radius: 6px;
    background: rgb(60, 62, 68);
    margin-bottom: 24px;
    margin-right: 24px;
}

.card-image {
    height: 220px;
    width: 220px;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.content-title {
    margin-bottom: 24px;
}

.content-title h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.content-title p {
    color: white;
    font-size: 16px;
}

.content-stats {
    margin-bottom: 24px;
}

.content-stats h5 {
    color: rgb(158, 158, 158);
    font-size: 16px;
}

.content-stats p {
    color: white;
    font-size: 18px;
}

footer {
    background-color: rgb(32, 35, 41);
    font-size: 12px;
    padding: 72px 0px;
    margin-top: -20px;
}

.footer-wrapper ul {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(158, 158, 158);
    text-transform: uppercase;
    list-style-type: none;
}

.footer-wrapper ul li {
    padding: 0px 27px;
    font-weight: 600;
}

.footer-status {
    display: flex;
    color: rgb(158, 158, 158);
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 12px;
}

/* .footer-developby {
    justify-items: center;
} */

/* .footer-developby img{
    width: 40px;
    margin: 0px 40%;
} */
 .footer-developby{
    color: rgb(158, 158, 158);
    margin-left: 40%;
 }
.footer-developby p {
   


}
.footer-developby-1{

}
.footer-developby img{
    width: 40px;
}
.footer-developby-2{
    margin: 0 44px;
    margin-top: -41px;
    font-size: 14px;
}

.main-develop-2{
    margin: 0 153px;
    margin-top: -33px;
}
.social-media-section{
    font-size: 16px;
    margin-top: 27px;
    margin-right: 70px;
    letter-spacing: -16px;
}

.website-createby h4{
    text-align: center;
    color: rgb(158, 158, 158);
    font-size: 14px;
    margin-right: 53px;
    margin-top: 34px;
}
.website-createby span{
    color: white;
    text-decoration: underline;
}